<!doctype html>
<html>
  <head>
    <title> Create </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  </head>
  <body>
    <!-- page content -->
    <a href="/"> Back </a>
    <center>
      <div class="title"> Create Chat </div>
      <form action="/create" method="POST">
        <input class="form-input" type="text" name="name" placeholder="Chat name" autocomplete="off"/><br>
        <input class="form-input" type="submit" value="Create"/>
      </form>
    </center>
  </body>
</html>
