<!doctype html>
<html>
  <head>
    <title> Settings </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
  </head>
  <body>
    <!-- page content -->
    <a href="/"> Back </a>
    <center>
      <div class="title"> Settings </div>
      <form action="/settings" method="POST">
        <h4> Change Profile </h4>
        <input class="form-input" type="text" name="url" placeholder="URL" autocomplete="off"/><br>
        <input class="form-input" type="submit" value="Save"/>
      </form>
    </center>
  </body>
</html>
